:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  /* font-weight: 400; */
  /* font-style: normal; */
}

body{
  font-family: sans-serif;
}

.homePage{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  height: 10%;
  position: fixed;
  z-index: 10;
}

header .logo h3 {
  margin: 0;
  margin-left: -15vw;
  padding: 0;
  color: white;
}

nav{
  margin-right: -15vw;
  
}

nav ul {
  margin: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2vw;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #48b4af;
}

.container {
  height: auto;
  padding: auto;
}

.container h1 {
  text-align: center;
  font-size: 50px;
}

.worksPage{
  padding-top: 120px;
}

.works {
  padding-top: 0px;
  margin-top: 0;
}

.con{
  height:auto;
  overflow: visible;
  display: flex;
  flex-flow: wrap;
  /*justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;*/
}
.item{
  display: flex;
  flex-direction: column;
  width: 25%;
  flex:0 0 25%;
  -webkit-box-flex: 0;
  margin-top: 5px;
  margin-bottom: 0px;
}

@media (max-width: 750px) {
  .item {
      width: 50%;
      flex-basis: 50%;
  }
}

@media (max-width: 1050px) {
  .item {
      width: 33.33%;
      flex-basis: 33.33%;
      margin-bottom: 0px;
  }
}

.itemInner{
  width: 100%;
  position: relative;
}

.itemInner2{
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1050px) {
  .itemInner2 {
      padding-left: 8px;
      padding-right: 8px;
  }

  .itemVisual{
    margin-bottom: 10px;
  }

  .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.itemVisual{
  /*padding-bottom: 62.5%;*/
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 3px 5px;
  transition: all 0.3s ease 0s;
  margin-bottom: 16px;
}

.visualContainer{
  /*position: absolute;*/
  inset: 0px;
  overflow: hidden;
}

.visSub{
  color: transparent;
  display: inline-block;
  opacity: 1;
  transition: opacity .3s;
  background-image: none !important;
}

.thumbnail {
  
  /*position: absolute;*/
  inset: 0px;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  object-fit: cover;
  
  
  /*
  object-fit: cover;
  height: 200px;
  width: 200px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 15%;*/
}

a{
  text-decoration: none;
}

.titleContainer{
  display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.title {
  /*
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 20px;
  display: inline-block;
  text-align: center;
  color: black;*/
  
  font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: bold;
    letter-spacing: 0.02em;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: nowrap;
}

.profile{
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: flex-start;
  height: auto;
}

.iconName{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  width: 25vw;
  height: auto;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.profileImage {
  inset: 0px;
  object-fit: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 5%;
}

.name{
  font-size: 3vw;
  line-height: 19px;
  text-align: center;
  
  color: rgb(34, 34, 34);
  font-weight: bold;
  letter-spacing: 0.02em;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  padding-left: 0px;
}

.bio{
  /*font-size: 3vw;*/
  font-size: min(3vw,30px);
  line-height: min(3vw,30px);
  text-align: left;
  color: rgb(34, 34, 34);
  letter-spacing: 0.02em;
  overflow-wrap: normal;
  word-break: break-word;
  white-space: pre-wrap;
}


.worksHome {
  /*margin-top: -5vw;*/
  margin-top: 7%;
  margin-bottom: 7%;
  height: auto;
}

.section-subheading{
  font-size: 5vw;
}

.work{
  
  /*max-width: 250px;*/
}

.detailPage{
  padding-top: 120px;
    
  -webkit-box-align: center;
  align-items: center;
}

.detailTitle {
  width: auto;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-weight: bold;
  letter-spacing: 0.02em;

  /*
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-top: 120px;
  display: inline-block;

  color: black;*/
}

.detailContent {
  width: auto;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 19px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  letter-spacing: 0.02em;
  overflow-wrap: normal;
}

.iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin: auto;
}

.youtube_ifreme{
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.embed-container {
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

img {
  width: 300px;
  height: 500px;
}

.service {
  margin-top: 50px;
  margin-bottom: 60px;
}

#skill img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 300px;
}

#skill button {
  margin-bottom: 100px;
}

.responsive_btn {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 40px 0 0;
  margin-right: -15vw;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

 .responsive_btn div :hover {
  /*color: #48b4af;*/
}

.menu_line {
  background: #fafafa;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  margin: 4px 0;
}

@media screen and (max-width: 768px) {
  .responsive_btn {
    display: flex;
  }

  nav {
    background: #323232;
    width: 100%;
    height: 100vh;
    padding: 80px 0 0 0;
    position: fixed;
    top: 0;
    right: -100%;
    transition: .5s;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav ul li {
    margin: 0 0 40px;
    text-align: center;
  }

}

.menu_active {
  
}

.menuList{
  background-color: #323232;
  padding-top: 10vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position:fixed;
  z-index: 9;
}

.menuList div{
  font-size: 5vw;
  color: rgb(34, 34, 34);
  border-bottom: solid 1px #696969;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

.menuName:hover{
  color: #48b4af;
}

.menuIcon:hover{
  color: #48b4af;
}